nav, .left{
    text-align: left;
    color: black;
}

body {
    background-color: gray;
    text-align: center;
}
.profile, .person {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

*{
    box-sizing: border-box;
    margin: 5px;
}

.person {
    display: inline-block; 
    background-color: rgb(91, 91, 102);
    padding: 5px 15px;"
}

.header {
    font-size: 40px;
    font-weight: 100;
}

a:hover {
    color: white;
    font-size: 18px;
}
